/* should contain any general styling */
/* Apply to elements such as body and main */
/* Examples include styling of overall font and background color. */

body {
  margin:    0 auto;
  max-width: 960px;
  background-color: black;
}

div {
  float: left;
}

