/* should contain any general styling */
/* Apply to elements such as body and main */
/* Examples include styling of overall font and background color. */


body {
  background-color: black;
}

header, aside, section, article, footer {
  outline: 1px solid black;
}

p {
  position: relative;
  text-align: center;
  top: 50%;
}

