/* should contain any general styling */
/* Apply to elements such as body and main */
/* Examples include styling of overall font and background color. */

body {
  margin: 0 auto;
  width: 480px;
  background-color: black;
}

div {
  float: left;
}

@media (min-width: 768px) {
  body {
    width: 960px;
  }
}
